html, body {
    height: 100%;
    width: 100%;
}
#container {
    display: block;
    margin: auto;
    width: 520px;
    margin-top: 60px;
}
.box {
    transition-duration: 1s;
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #000;
}
.box-hover{
    transition-duration: 0.1s;
    background-color: #555;
}

.row {
    height: 30px;
    text-align: center;
}
button {
    transition-duration: 0.2s;
    background-color: #d6d6d6;
    border: 1px solid #c2c2c2;
    height: 40px;
    width: 150px;
    line-height: 36px;
    font-size: 16px;
    border-radius: 5px;
    margin: auto;
    display: block;
    margin-top: 40px;
    outline: none;
}

button:hover {
    transition-duration: 0.2s;
    background-color: #bdbcbc;
    cursor: pointer;
}